@{
    ViewData["Title"] = "turnoff?";
    Layout = "_Empty";
}

<style>
    body {
        background-image: url('https://thetechgears.com/wp-content/uploads/2014/04/Microsoft-Ends-Support-for-Windows-XP.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<a asp-action="ShuttingDown" asp-controller="Computer">
    <div style="font: 20px; height: 20px; width: 10px">
        <img style="height: 148px; width: 140px; margin-left: 580px; margin-top: 320px;"
            src="https://64.media.tumblr.com/4e932aabdfe572f340dbe32cfc06f1cb/840b4b6888f1f93f-e3/s540x810/c3d700cbea3465ba7c8215250e988acb638676e8.png" />
    </div>
</a>
<a asp-action="LogAndReg" asp-controller="User">
    <div style="font: 0px; height: 20px; width: 10px">
        <img style="height: 78px; width: 66px; margin-left: 445px; margin-top: 335px; border-radius: 21px"
            src="https://lh6.googleusercontent.com/proxy/m6StC0KcRIZXbBrdzDRFh3J_H1NeHDRi5RRW_mGn5GnSDd_uxZzpEJoaG9dDz74Lm1CjDbzb7Q-ENv6MqfZlfp5wbTJTDjbp1CxS" />
    </div>
</a>
<a asp-action="LoadingPage" asp-controller="Computer">
    <div style="font: 0px; height: 20px; width: 10px">
        <img style="height: 88px; width: 79px; margin-left: 779px; margin-top: 310px; border-radius: 21px"
            src="https://images.freeimages.com/fic/images/icons/1008/quiet/256/reboot.png?fmt=webp&w=500" />
    </div>
</a>
<a asp-action="DesktopPage">
    <div style="font: 0px; height: 20px; width: 10px">
        <img style="height: 60px; width: 130px; margin-left: 815px; margin-top: 495px; border-radius: 21px"
            src="https://www.clker.com/cliparts/8/Z/N/I/K/K/cancel-button-hi.png" />
    </div>
</a>