@{
    ViewData["Title"] = "music";
    Layout = "_Empty";
}

<style>
    body {
        background-image: url('http://farm6.static.flickr.com/5210/5237827695_236919841c.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cover {
        position: absolute;
        top: 220px;
        left: 320px;
        width: 75%;
        height: 490px;
        background-color: rgba(252, 252, 252, 255);
    }

    .button {
        margin-top: 12%;
        margin-left: 40%;
    }
</style>

<a asp-action="DesktopPage">
    <div>
        <img style="font: 100px; height: 24px; width: 55px; margin-left: 98.2%; margin-top: 24px; border-radius: 0px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWZALotUkFOOV13iv-KnhMhC2Amsr49Ruh6yRKEYGoDXOpOibGNdvx0VuKiz68K_W9sUA&usqp=CAU" />
    </div>
</a>

<div class="cover">
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">HOME - Before The Night</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/h6Nq2CN_Y-k"
                title="HOME - Before The Night | With Windows Media Player Visualization" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">HOME - Resonance holographic visualizer</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/6ggRqURMdbE"
                title="HOME - Resonance holographic visualizer" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Windows Media Player Visualization (Plenoptic Spyro)</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/nXiEUewAkJ8"
                title="Windows Media Player Visualization (Plenoptic Spyro)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Epic Horror Synth Trailer Music</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/XS92kSuLLIo"
                title="Epic Horror Synth Trailer Music - Something Wicked (Windows Media Player)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">The Veronicas - On Your Side</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/TP43C6_IBCw"
                title="The Veronicas - On Your Side (using Windows Media Player)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Mississippi Queen- Mountain</summary>
        <div>
            <iframe width="154" height="74" src="https://www.youtube.com/embed/XmAUJAw4ad0"
                title="Mississippi Queen- Mountain [Windows Media Player Visualizer]" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Linkin Park - Shadow of the Day</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/uXTiBuVDgEY?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Linkin Park - Shadow of the Day (Windows Media Player 9 Series)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Carly Rae Jepsen - I Really Like You</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/GXVwzMzG5yk?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Carly Rae Jepsen - I Really Like You w/ Windows Media Player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Windows Media Player Visualizations Tutorial Music</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/5OWU-XLJovs?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Windows Media Player Visualizations Tutorial Music" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Kesha Woman</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/ai7sSMGFYtA?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Kesha Woman by Windows Media Player Visualizations" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Charlie Puth featuring Selena Gomez - We Don't Talk Anymore</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/Dk6tURVzpR8?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Charlie Puth featuring Selena Gomez - We Don&#39;t Talk Anymore with Windows Media Player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">BYU Noteworthy - Amazing Grace</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/Cp1umN6wzCU?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="BYU Noteworthy - Amazing Grace with Windows Media Player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">BYU Noteworthy - Gloria (Angels We Have Heard On High)</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/tAQ4kTgZaRI?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="BYU Noteworthy - Gloria (Angels We Have Heard On High) Using Windows Media Player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Chris Brown - She Ain't You</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/pNnSoYNEnBk?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Chris Brown - She Ain&#39;t You - Windows Media Player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Wiz Khalifa ft Charlie Puth - See You Again</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/yWWQdXCYK-Y?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Wiz Khalifa ft Charlie Puth - See You Again (using Windows Media Player)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>
    <details>
        <summary style="cursor: pointer; font-size: 1.0em;">Jonas Blue ft Raye - By Your Side</summary>
        <div>
            <iframe width="154" height="74"
                src="https://www.youtube.com/embed/_axNdfMpDY0?list=PLfHuenwNiI0MLlic8zg-Kq-X2xUN2Son1"
                title="Jonas Blue ft Raye - By Your Side (Windows Media Player)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </details>