<style>
    .bar {
        background-image: linear-gradient(#e5eefb,#feffff);
        width: 237px;
        height: 28px;
        font-size: 15px;
        padding: 10px;
        border: none;
        border-radius: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #8797aa;
        position: absolute;
        top: 365px;
        left: 596px;
    }

</style>
@model LogUser
<form asp-action="LoginUser" asp-controller="User" method="Post" class="col-6">
    <input type="hidden" asp-for="UserId" value="@Model.UserId">
    <div class="form-group">
        <input asp-for="LogPassword" asp-controller="XP" class="form-control bar">
        <span class="text-danger" asp-validation-for="LogPassword"></span>
    </div>

    <button class="btn btn-primary mt-2 loginBtn" style="margin-left: 620px;">Login</button>
</form>